{% extends 'base.template.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block content%}
    <h1>My Todos</h1>
    <h3>Search</h3>
    <form method="GET">
        {{search_form|crispy}}
        <input type="submit"/>
    </form>
    {%for t in all_todos%}
    <ul>
        <li {%if t.done%} style="text-decoration:line-through" {%endif%}>

            [ {{t.priority.name}} ] 

            {%for tag in t.tags.all %}
                ({{tag.name}})
            {%endfor%}

            {{t.name}} | <a href="{% url 'update_todo_route' todo_id=t.id %}">Edit</a> |
                        <a href="{% url 'delete_todo_route' todo_id=t.id %}">Delete</a>
        </li>
    </ul>
    {%endfor%}
{%endblock%}